.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header{
    margin-bottom: .15rem;
    /* overflow-wrap: break-word; */
    overflow:hidden;
    color: #444;
}

.card > .body{
    font-size: .6rem;
    color: #555;
}

.card > .type{
    font-size: .6rem;
    color: #666;
}

.hide{
    display: none;
}