.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    position: relative;
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header{
    margin-bottom: .25rem;
    color: #374151;
}

.card > .body{
    font-size: .8rem;
    color: #777;
}

.card > .type{
    font-size: .8rem;
    color: #888;
}

.card > .fill-div{
    text-decoration: none;
    position: absolute;
    vertical-align: bottom;
    font-size: .4rem;
    color: #00AAFF;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: .2rem;
    bottom: .2rem;
    right: 5%;
}

.hide{
    display: none;
}
